#tienLuong {
  width: 30%;
  padding: 20px;
  border-radius: 10px;
}


#tienUSD {
  width: 30%;
  padding: 20px;
  border-radius: 10px;

}
#ketqua1 {
  width: 30%;
  padding: 20px;
  border-radius: 10px;

}
#ketqua2 {
  width: 30%;
  padding: 20px;
  border-radius: 10px;

}
#ketqua4 {
  width: 30%;
  padding: 20px;
  border-radius: 10px;
}